mixin article-tile(title, img, author, date, ...tags)
  .block-bot-lg
    a.block.article-tile.border(href="/article")
      img(src=img width="100%")
      
      .text.bg-white.block-md.text-center
        p.article-tile-author.serif.text-italic.text-grey By 
          span= author
        h3.article-tile-title.block.block-top-sm.text-black= title
        p.article-tile-date.serif.text-italic.text-grey= date
        ul.article-tile-tags.ul-bare.text-center
          each tag in tags
            li.inline-block.block-hor-xs.tight.text-smaller.wgsn-font.text-grey= tag